<!DOCTYPE html>
<html>
  <head>
    <title>APIs</title>
  </head>
  <body>
    <h1>List of APIs</h1>
    <ul>
      <li><a href="http://127.0.0.1:8000/api/protein/">Proteins API</a></li>
      <li>
        <a href="http://127.0.0.1:8000/api/pfam/PF00360/>Domain Detail API</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/api/proteins/53326/"
          >Organism Proteins API</a
        >
      </li>
      <li>
        <a href="http://127.0.0.1:8000/api/pfams/53326/"
          >Organism Domains API</a
        >
      </li>
      <li>
        <a href="http://127.0.0.1:8000/api/coverage/PROTEIN ID/"
          >Protein Coverage API</a
        >
      </li>
    </ul>
  </body>
</html>
